# Column Transformer

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\user\\Datasets\\covid_toy.csv")

In [3]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [4]:
from sklearn.impute import SimpleImputer #for missing values imputation(filling)

from sklearn.preprocessing import OneHotEncoder #category ==> Sub-Category ==> column creation
from sklearn.preprocessing import OrdinalEncoder #Sub-category ==> Convert into Numbers

In [5]:
x=df.drop(columns=['has_covid'])
y=df['has_covid']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

# Manually type output

In [8]:
si=SimpleImputer()
x_train_fever=si.fit_transform(x_train[['fever']])
x_test_fever=si.fit_transform(x_test[['fever']])

In [9]:
x_train_fever.shape

(80, 1)

# step-2
ordinalencoding==> Cough

In [10]:
oe=OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough=oe.fit_transform(x_train[['cough']])

In [11]:
#x_train.head()
x_train_cough.shape

(80, 1)

# step-3 
OneHotEncoder ==> Gender,city

In [40]:
x_train[['gender','city']]

    gender       city
55  Female     Mumbai
88  Female    Kolkata
26  Female    Kolkata
42    Male      Delhi
69  Female      Delhi
..     ...        ...
60  Female  Bangalore
71  Female      Delhi
14    Male  Bangalore
92  Female    Kolkata
51  Female    Kolkata

[80 rows x 2 columns]

In [41]:
ohe = OneHotEncoder(drop='first',sparse=False)
x_train_gender_city=ohe.fit_transform(x_train[['gender','city']])
x_train_gender_city.shape

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 4)

# step-4(Extracting age)

In [14]:
x_train_age=x_train.drop(columns=['gender','fever','cough','city']).values

In [15]:
x_train_age.shape

(80, 1)

# step-5(Concatenate all the data)

In [16]:
x_train_transformed =np.concatenate((x_train_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)

In [17]:
x_train_transformed.shape

(80, 7)

# We can do this in one cell using Column Transformer

In [18]:
from sklearn.compose  import ColumnTransformer

In [19]:
transformer=ColumnTransformer(transformers=[
    ('a',SimpleImputer(),['fever']),
    ('b',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('c',OneHotEncoder(sparse = False ,drop='first'),['gender','city'])
],remainder='passthrough')# remainder='passthrough'==> means rest all are same

In [20]:
transformer.fit_transform(x_train).shape

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

# Assignment ==>

In [21]:
df=pd.read_csv('C:\\Users\\user\\Datasets\\tips.csv')

In [25]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [27]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [42]:
x=df.drop(columns=['total_bill'])
y=df['total_bill']

In [48]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
x_train

      tip     sex smoker   day    time  size
228  2.72    Male     No   Sat  Dinner     2
208  2.03    Male    Yes   Sat  Dinner     2
96   4.00    Male    Yes   Fri  Dinner     2
167  4.50    Male     No   Sun  Dinner     4
84   2.03    Male     No  Thur   Lunch     2
..    ...     ...    ...   ...     ...   ...
106  4.06    Male    Yes   Sat  Dinner     2
14   3.02  Female     No   Sun  Dinner     2
92   1.00  Female    Yes   Fri  Dinner     2
179  3.55    Male    Yes   Sun  Dinner     2
102  2.50  Female    Yes   Sat  Dinner     3

[195 rows x 6 columns]

In [28]:
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [29]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [36]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder

In [45]:
transformer=ColumnTransformer(transformers=[
    ('a',OrdinalEncoder(categories=[['Female','Male'],['Dinner','Lunch']]),['sex','time']),
    ('b',OneHotEncoder(drop='first',sparse=False),['smoker','day']),
], remainder='passthrough')

In [57]:
transformer.fit_transform(x_train).shape

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(195, 8)