# Feature Engineering ==> 
Data structure format ==> ML , DL models apply ==> Performance evaluate ==> Output Show

In [1]:
#Data (100%)==> Independent_Data(x)(90%) + Dependent_Data/Target_Data(y)(10%)

#Independent_Data(x)= Training_data(x_train) , Testing_data(x_test)

#Dependent_data(y)= Training_data(y_train),Testing_data(y_test)

In [2]:
# Data =x,y ==>(x_train,y_test),(y_train,y_test)

In [3]:
import numpy as np
import pandas as pd

# covid_toy

In [4]:
df=pd.read_csv("C:\\Users\\user\\Datasets\\covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
df.shape

(100, 6)

In [6]:
#step1 Divide data into independent and dependent data
x=df.drop(columns=['has_covid'],axis=1)
y=df['has_covid']

In [7]:
print("Independent Data Shape=",x.shape)
print("Dependent Data Shape=",y.shape)

Independent Data Shape= (100, 5)
Dependent Data Shape= (100,)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

#random_state work as seed() it will fix random numbers
#test_size_split = 0.2 = 20% data test , 80% dta training
#train_test_split==> models(training_data on trained) , test_data check performance

In [10]:
print("X_train data shape=",x_train.shape)
print("X_test data shape=",x_test.shape)
print("Y_train data shape=",y_train.shape)
print("Y_test data shape=",y_test.shape)

X_train data shape= (80, 5)
X_test data shape= (20, 5)
Y_train data shape= (80,)
Y_test data shape= (20,)

# Click

In [11]:
df=pd.read_csv("C:\\Users\\user\\Datasets\\click.csv")

In [12]:
df.shape

(10000, 10)

In [13]:
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,62.26,32.0,69481.85,172.83,Decentralized real-time circuit,Lisafort,Male,Svalbard & Jan Mayen Islands,2016-06-09 21:43:05,0
1,41.73,31.0,61840.26,207.17,Optional full-range projection,West Angelabury,Male,Singapore,2016-01-16 17:56:05,0
2,44.40,30.0,57877.15,172.83,Total 5thgeneration standardization,Reyesfurt,Female,Guadeloupe,2016-06-29 10:50:45,0
3,59.88,28.0,56180.93,207.17,Balanced empowering success,New Michael,Female,Zambia,2016-06-21 14:32:32,0
4,49.21,30.0,54324.73,201.58,Total 5thgeneration standardization,West Richard,Female,Qatar,2016-07-21 10:54:35,1

In [14]:
x=df.drop(columns=['Clicked on Ad'],axis=1)
y=df['Clicked on Ad']

In [15]:
print("Independent Data Shape=",x.shape)
print("Dependent Data Shape=",y.shape)

Independent Data Shape= (10000, 9)
Dependent Data Shape= (10000,)

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [17]:
print("X_train data shape=",x_train.shape)
print("X_test data shape=",x_test.shape)
print("Y_train data shape=",y_train.shape)
print("Y_test data shape=",y_test.shape)

X_train data shape= (8000, 9)
X_test data shape= (2000, 9)
Y_train data shape= (8000,)
Y_test data shape= (2000,)

# Attrition

In [18]:
df=pd.read_csv("C:\\Users\\user\\Datasets\\Attrition.csv")
df.head()
df.shape

(1470, 35)

In [19]:
x=df.drop(columns=['Attrition'],axis=1)
y=df['Attrition']

In [20]:
print("Independent Data Shape=",x.shape)
print("Dependent Data Shape=",y.shape)

Independent Data Shape= (1470, 34)
Dependent Data Shape= (1470,)

In [21]:
from sklearn.model_selection import train_test_split 
x_train,x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [22]:
print("X_train data shape=",x_train.shape)
print("X_test data shape=",x_test.shape)
print("Y_train data shape=",y_train.shape)
print("Y_test data shape=",y_test.shape)

X_train data shape= (1176, 34)
X_test data shape= (294, 34)
Y_train data shape= (1176,)
Y_test data shape= (294,)

# Tips

In [23]:
df=pd.read_csv("C:\\Users\\user\\Datasets\\tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [24]:
df.shape

(244, 7)

In [25]:
x=df.drop(columns=['tip'],axis=1)
y=df['tip']
print("Independent Data Shape=",x.shape)
print("Dependent Data Shape=",y.shape)

Independent Data Shape= (244, 6)
Dependent Data Shape= (244,)

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [28]:
print("X_train data shape=",x_train.shape)
print("X_test data shape=",x_test.shape)
print("Y_train data shape=",y_train.shape)
print("Y_test data shape=",y_test.shape)

X_train data shape= (195, 6)
X_test data shape= (49, 6)
Y_train data shape= (195,)
Y_test data shape= (49,)

# Titanic

In [29]:
df=pd.read_csv("C:\\Users\\user\\Datasets\\titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [30]:
df.shape

(418, 12)

In [31]:
x=df.drop(columns=['Survived'],axis=1)
y=df['Survived']
print("Independent Data Shape=",x.shape)
print("Dependent Data Shape=",y.shape)

Independent Data Shape= (418, 11)
Dependent Data Shape= (418,)

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [34]:
print("X_train data shape=",x_train.shape)
print("X_test data shape=",x_test.shape)
print("Y_train data shape=",y_train.shape)
print("Y_test data shape=",y_test.shape)

X_train data shape= (334, 11)
X_test data shape= (84, 11)
Y_train data shape= (334,)
Y_test data shape= (84,)

# Supply_chain

In [35]:
df=pd.read_csv("C:\\Users\\user\\Datasets\\supply_chain.csv")
df.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [36]:
df.shape

(100, 24)

In [37]:
x=df.drop(columns=['Revenue generated'],axis=1)
y=df['Revenue generated']
print("Independent Data Shape=",x.shape)
print("Dependent Data Shape=",y.shape)

Independent Data Shape= (100, 23)
Dependent Data Shape= (100,)

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [40]:
print("X_train data shape=",x_train.shape)
print("X_test data shape=",x_test.shape)
print("Y_train data shape=",y_train.shape)
print("Y_test data shape=",y_test.shape)

X_train data shape= (80, 23)
X_test data shape= (20, 23)
Y_train data shape= (80,)
Y_test data shape= (20,)

# Indian_cities

In [41]:
df=pd.read_csv("C:\\Users\\user\\Datasets\\Indian_cities.csv")
df.head()

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
0,Abohar,3,PUNJAB,9,145238,76840,68398,15870,8587,7283,...,44972,890,848,79.86,85.49,73.59,"30.1452928,74.1993043",16287,8612,7675
1,Achalpur,27,MAHARASHTRA,7,112293,58256,54037,11810,6186,5624,...,43086,928,909,91.99,94.77,89.00,"21.257584,77.5086754",8863,5269,3594
2,Adilabad,28,ANDHRA PRADESH,1,117388,59232,58156,13103,6731,6372,...,37660,982,947,80.51,88.18,72.73,"19.0809075,79.560344",10565,6797,3768
3,Adityapur,20,JHARKHAND,24,173988,91495,82493,23042,12063,10979,...,54515,902,910,83.46,89.98,76.23,"22.7834741,86.1576889",19225,12189,7036
4,Adoni,28,ANDHRA PRADESH,21,166537,82743,83794,18406,9355,9051,...,45089,1013,968,68.38,76.58,60.33,"15.6322227,77.2728368",11902,7871,4031

In [42]:
df.shape

(493, 22)

In [43]:
x=df.drop(columns=['population_total'],axis=1)
y=df['population_total']
print("Independent Data Shape=",x.shape)
print("Dependent Data Shape=",y.shape)

Independent Data Shape= (493, 21)
Dependent Data Shape= (493,)

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [46]:
print("X_train data shape=",x_train.shape)
print("X_test data shape=",x_test.shape)
print("Y_train data shape=",y_train.shape)
print("Y_test data shape=",y_test.shape)

X_train data shape= (394, 21)
X_test data shape= (99, 21)
Y_train data shape= (394,)
Y_test data shape= (99,)